<div class="BodyBlock">
  <div class="BodyBlock-floatLeft">
    <%= link_to "Complited collections #{current_user.complited_collections.count}", :profile, class: "BtnBase" if current_user.complited_collections.present? %>
    <%= link_to "Friends", "", class: "BtnBase" %>
    <%= link_to 'Add more collections', collections_url, class: "BtnBase" %>
    <%= link_to "Exchanging", "", class: "BtnColor" %>
  </div>
  <div class="BodyBlock-floatRight">
    <%= render partial: '/common/search' %>
  </div>
</div>

<div class="ContentBlock">
  <%= render partial: '/common/collections/view_short/collections', object: @collections %>
</div>