<div>
  <%= link_to 'All my collections', :collections, class: "BtnBase" %>
</div>

<div class="ContentBlock ProfileName">
  <div class="ProfileName-avatar">
    <%= image_tag @user.avatar_url %>
  </div>
  <div class="ProfileName-title">
    <%= link_to 'Edit', "#", class: "BtnBase ContentBlock-floatRight" %>
    <div class="ProfileName-fullname<%= '--inacive' if @user.name.blank? %>">
      <%= @user.name || "Edit for enter your name" %>
    </div>
    <div class="ProfileName-email">
      <%= @user.email %>
    </div>
  </div>
</div>

<div class="ContentBlock">
  <%= form_for @user, url: { controller: "profiles", action: "update" } do |f| %>
    <dl>
      <dd>Email</dd>
      <dt><%= @user.email %></dt>
      <dd>Name</dd>
      <dt><%= f.text_field :name %></dt>
      <dd>Curent avatar</dd>
      <dt><%= image_tag @user.avatar_url %></dt>
      <dd>New avatar</dd>
      <dt><%= f.file_field :avatar %></dt>
      <dd></dd>
      <dt><%= f.submit :update, class: "BtnBase" %></dt>
    </dl>
  <% end %>
</div>

<div class="ContentBlock">
  <h1 class="<%= 'paddingBottom' if current_user.complited_collections.present? %>">
    Completed collection: <%= current_user.complited_collections.count %> of <%= current_user.user_collections.count %>
  </h1>
  <% if current_user.complited_collections.present? %>
    <ul>
      <% current_user.complited_collections.each do |c| %>
        <li><%= link_to c.title, collection_url(c.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="ContentBlock">
  <h1 class="<%= 'paddingBottom' if current_user.friends.present? %>">
    Friends: <%= current_user.friends.count %>
  </h1>
  <% if current_user.friends.present? %>
    <ul>
      <% current_user.friends.each do |f| %>
        <li><%= link_to c.name, collection_url(c.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="ContentBlock">
  <h1 class="<%= 'paddingBottom' if current_user.collections.count > 0 %>">
    <%= link_to 'Add more collections', collections_url, class: "BtnBase ContentBlock-floatRight" %>
    Collections in progress: <%= current_user.collections.count %> of <%= current_user.user_collections.count %>
  </h1>

  <%= render partial: '/user_collections/partials/collections', object: current_user.collections %>
</div>
