<div class="FormDevise">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <div class="FormDevise-label">
        <%= f.label :email %>
      </div>
      <div class="FormDevise-field">
        <%= f.email_field :email, autofocus: true, class: "Input" %>
      </div>
    </div>

    <div>
      <div class="FormDevise-label">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="FormDevise-field">
        <%= f.password_field :password, autocomplete: "off", class: "Input" %>
      </div>
    </div>

    <div>
      <div class="FormDevise-label">
        <%= f.label :password_confirmation %>
      </div>
      <div class="FormDevise-field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "Input" %>
      </div>
    </div>

    <div class="FormDevise-field--shifted">
      <%= f.submit "Sign up", class: 'BtnBase' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
